accelerate>=0.34.0
datasets>=2.21.0
evaluate>=0.4.2
fastapi>=0.115.0
faster-whisper>=1.0.3
huggingface-hub>=0.31.4
librosa>=0.10.2.post1
loralib>=0.1.2
numpy>=1.26.4
openai>=1.93.0
pandas>=2.2.2
python-dotenv>=1.0.1
python-multipart>=0.0.9
scikit-learn>=1.5.1
speechbrain>=1.0.3
soundfile>=0.12.1
torch>=2.4.0
torchaudio>=2.4.0
transformers>=4.44.0
uvicorn[standard]>=0.30.6
